main{
  padding: 10px;
}

body{
  background:#666;
}

main{
  background:#ababab;
}

main div .card .card-block ul li{
  display: block;
  width: 100%;
}

.nav-btn{
  width:100%;
}

html, body, #map {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
  }

  #overlay{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    z-index: 3;
    left:0;
    background: #fff;
  }

  .form-horizontal{
    background: #fff;
  }

  #ziload{
    width:100%;
    height:100%;
    text-align: center;
  }

  #loadimg{
    position: fixed;
    width: 30%;
    left:30%;
    top:30%;
  }
